:root {
  --font: "Varela Round", sans-serif;
}

.title {
  text-align: center;
  font-family: var(--font);
  letter-spacing: 0.115385em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 50px;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ---------- Header + Landing Page ---------- */

.mainLinks {
  margin: 0;
  padding: 0;
  width: auto;
  position: absolute;
  right: 450px;
  margin-top: 20px;
  list-style: none;
}

.secondaryLinks{
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  float: right;
  margin-top: 12px;
}

nav .mainLinks li {
  display: inline-block;
  padding: 20px 30px;
}

nav .secondaryLinks li {
  display: inline-block;
  padding: 25px 15px;
}

.welcomeUser{
  display: inline-block;
  font-family: var(--font);
  padding: 27px 15px;
  color: whitesmoke;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.115385em;
}


nav .mainLinks a, .headerTitleLink {
  color: whitesmoke;
  text-decoration: none;
  font-family: var(--font);
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.115385em;
}

nav .mainLinks a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: 0.3s ease-in-out 0s, left 0.3s ease-in-out 0s;
  width: 0;
}

nav .mainLinks a:hover:after{
  width: 100%;
  left: 0;
}

nav {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-size: 14px;
  letter-spacing: 0.115385em;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font);
  position: relative;
  top: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: black;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.dropdown .row{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.dropdown h3, .dropdown h2 {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.115385em;
  font-family: var(--font);
}

.dropdown h3 {
  margin-left: 15px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.wishlistNotEmpty {
  color: #FF0065;
  text-decoration: none;
  position: absolute;
  top: 3.2%;
  font-size: 25px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}



.hero-image {
  background-color: black;
  height: 100%;
  position: relative;
}

.headerTitle {
  color: whitesmoke;
  position: absolute;
  float: left;
  margin-left: 3px;
  margin-top: 20px;
  font-family: var(--font);
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 0.2em;
  
}

.HomeHeaderImage{
  position: absolute;
  left: 720px;
  top: 140px;
}

.HomeHeaderImage img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

#homeTextContainer{
  position: relative;
  top: 55px;
  margin-left: 180px;
}


.FirstSectionTitle, .FirstSectionSubtitle{
  font-family: var(--font);
  color: whitesmoke;
  padding-left: 150px;
  
}

.FirstSectionTitle {
  font-size: 30px;
  text-transform: uppercase;
}


.homeButton{
  text-align: center;
  position: absolute;
  top: 78%;
  left: 385px;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  
}

.homeButton::after, .homeButton::before{
  border: 3px solid whitesmoke;
  content: "";
  position: absolute;
  width: 150px;
  height: 50px;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s ease;
}


.homeButton:hover::after {
  transform: translate(-5px, -5px);
  border: 3px solid #FF0065;
}

.homeButton:hover::before {
  transform: translate(5px, 5px);
}

.homeButtonLink {
  font-family: var(--font);
  letter-spacing: 0.115385em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
  text-align: left;
  position: relative;
  left: 25px;
  top: -16.5px;
}

.sectionBreak {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.sectionBreak:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.sectionBreak:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
  font-family: var(--font);
}

.sectionBreakBlackBg {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.sectionBreakBlackBg:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.sectionBreakBlackBg:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: white;
  background-color: black;
  font-family: var(--font);
}


.topCategories {
  display: flex;
  justify-content: space-evenly;
}

.topCategories-image{
  height: 80%;
  width: 100%;
}

.topCategories h4 {
  text-align: center;
  font-family: var(--font);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.115385em;
}

#homeThirdSection {
  background-color: black;
  height: 75%;
}

.whyUsCategories {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}

.whyUs-item {
  display: flex;
  justify-content: space-evenly;
}

.whyUs-item h2, .whyUs-item h4 {
  color: #BCBCBC;
  font-family: var(--font);
}

.whyUs-item hr {
  border: none;
  border-left: 1px solid #BCBCBC;
  height: 50px;
  width: 1px;
  margin: 10px; 
}

.trustedPartnersCategories {
  display: flex;
  justify-content: space-evenly;
  padding-top: 75px;
}

.trustedPartners-image{
  height: 100px;
  width: 120px;
}

.trustedPartnersCategories h4 {
  text-align: center;
  font-family: var(--font);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.115385em;
}

.TopCategories-item {
  margin-top: 40px;
  margin-bottom: 80px;
}

/* Home Fourth Section */
.testimonials {
  display: flex;
}

blockquote {
    padding: 0;
    margin: 0;
}

.testimonial-section {
    padding: 30px;
    margin-bottom: 60px;
    font-family: var(--font);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}

.testimonial-wrapper.testimonial-wrapper-boxed {
    max-width: 450px;
    margin: 0 auto;
}

.testimonial-wrapper.testimonial-wrapper-fullwidth {
    max-width: 100%;
}


.t-bq-quote {
    position: relative;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 25px #cecece;
}

.testimonial-quote .t-bq-quote-base {
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
    color: #ffffff;
    font-weight: bold;
    padding: 60px;
    border-radius: 10px;
}

.testimonial-quote .t-bq-quote-meta {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px dotted #ffffff;
}

.testimonial-quote .t-bq-quote-meta .t-bq-quote-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.testimonial-quote .t-bq-quote-meta .t-bq-quote-author cite {
    font-style: normal;
}

.testimonial-quote .t-bq-quote-meta .t-bq-quote-source {
    font-size: 10pt;
}

.testimonial-quote .t-bq-quote-qmark {
    position: absolute;
    top: 140px;
    right: 5px;
    font-size: 280pt;
    color: #ffffff;
    opacity: 0.17;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.testimonial-quote .t-bq-quote-userpic {
    width: 70px;
    height: 70px;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/emma-chamberlain-bleach-blonde-bob-1651566169.jpg?crop=1.00xw:0.883xh;0,0.0225xh&resize=640:*") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-quote .t-bq-quote-userpic2 {
  width: 70px;
  height: 70px;
  background: url("https://giovannicosmetics.com/wp-content/uploads/2020/04/For-Men.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-quote .t-bq-quote-userpic3 {
  width: 70px;
  height: 70px;
  background: url("https://s.marketwatch.com/public/resources/images/MW-HY732_TikTok_ZH_20200121135759.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 20px;
}

/* Home Fifth Section */


.mycard {
  height: 100%;
  width: 100%;
  max-width: 24rem;
}

.mycard hr {
  border: 1px solid #FF0065;
  background-color: #FF0065;
  border-radius: 7px 7px 7px 7px;
  width: 15%;
}

.cardtitle {
  font-weight: bold;
  text-align: center;
  font-family: var(--font);
}

.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  max-height: 10rem;
  border-radius: 9999px;
}
.carddescription {
  text-align: center;
  font-family: var(--font);
}

.slider {
  width: 100%;

  min-height: 385px;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 375px;
  perspective: 500px;
  margin-top: 5rem;
  overflow: hidden;
}

.testimonials .item {
  max-width: 20rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
  width: 450px;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}


.testimonials .item h2 {
  font-size: 14px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #fff;
}

#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}

#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);

  z-index: 3;
}

#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}

#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}

#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff;
}

#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}

#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}

#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #fff;
}

#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}

#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}

#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff;
}

#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}

#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
}

#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}

#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}

#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}

#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
}

#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}

#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 3;
}

#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}


/* ---------- Login Page + SignUp Page ---------- */

.loginSection, .signUpSection, .contactMeSection{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.loginForm {
  margin: auto;
}

.loginImage, .signUpImage {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: black;
}

.loginForm h2 {
  font-family: var(--font);
  text-transform: uppercase;
  padding: 20px;
  color: black;
  text-align: center;
  position: absolute;
  top: 80px;
  right: 310px;
}

.loginForm .input-group, .signUpForm .input-group, .contactMeForm .input-group{
  position: relative;
  margin-top: 20px;
}

.loginForm .input-group input{
  width: 350px;
  letter-spacing: 1px;
  padding: 5px 0px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #D2D2D2;
  outline: none;
  background-color: transparent;
  font-family: var(--font);
}

.loginForm .input-group label, .signUpForm .input-group label, .contactMeForm .input-group label{
  position: absolute;
  top: -10px;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  transition: .3s ease-out;
  font-family: var(--font);
  color: #AFACAD;
}

.loginForm .input-group input:focus + label,
.loginForm .input-group input:valid + label,
.signUpForm .input-group input:focus + label,
.signUpForm .input-group input:valid + label,
.contactMeForm .input-group input:focus + label,
.contactMeForm .input-group input:valid + label,
.contactMeForm .input-group textarea:focus + label,
.contactMeForm .input-group textarea:valid + label{
  transform: translateY(-20px);
  color: #535253;
  font-size: .8rem;
  letter-spacing: 1px;
  font-family: var(--font);
}

.submit-btn{
  display: block;
  border: none;
  outline: none;
  width: 100%;
  background: black;
  text-transform: uppercase;
  font-family: var(--font);
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.loginForm h3{
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  padding-top: 20px;
}

.loginForm h3 a{
  color: #FF0065;
}


/* ---------- SignUp Page ---------- */

.signUpForm {
  margin: auto;
  margin-top: 250px;
}

.signUpForm h2 {
  font-family: var(--font);
  text-transform: uppercase;
  padding: 20px;
  color: black;
  text-align: center;
  position: absolute;
  top: 120px;
  right: 310px;
}

.signUpForm .input-group input{
  width: 350px;
  letter-spacing: 1px;
  padding: 5px 0px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #D2D2D2;
  outline: none;
  background-color: transparent;
  font-family: var(--font);
}

.swal2-popup {
  font-family: var(--font);
  line-height: 1.5;
  font-size: 14px;
}

#signUpNameValidation, #signUpemailValidation,
#signUpPwdValidation, #signUpUserValidation {
  color: red;
  font-family: var(--font);
  font-size: 12px;
  position: relative;
  bottom: 12px;
}


/* ---------- Contact Us ---------- */

.contactDetails {
  position: relative;
  width: 50%;
  height: 80%;
  top: 30%;
  margin-left: 10%;
}

.contactDetails h2 {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 35%;
  margin-top: -104px;
}

.contactDetails div {
  margin-left: 30%;
  margin-top: 20px;
  position: relative;
  top: 10%;
}

.contactDetails h4, .contactDetails p{
  font-family: var(--font);
}

.contactDetails p {
  font-size: 14px;
  color: #bbbbbb;
}

.contactDetails h4 {
  font-size: 15px;
  font-weight: normal;
}

.contactMeForm {
  margin: auto;
  margin-top: 250px;
}

.contactMeForm h2 {
  font-family: var(--font);
  text-transform: uppercase;
  padding: 20px;
  color: black;
  text-align: center;
  position: absolute;
  top: 10%;
}

.contactMeForm .input-group input{
  width: 350px;
  letter-spacing: 1px;
  padding: 5px 0px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #D2D2D2;
  outline: none;
  background-color: transparent;
  font-family: var(--font);
}

.contactMeForm textarea {
  width: 100%;
  height: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #D2D2D2;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: var(--font);
  font-size: 16px;
  resize: none;
}

/* ---------- Footer ---------- */
.footer {
  background-color: black;
  padding: 70px 0;
}

.footerContainer {
  max-width: 1170px;
  margin: auto;
}

.footer-col ul {
  list-style: none;
}

.footer-row {
  display: flex;
  flex-wrap: nowrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-family: var(--font);
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.115385em;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 35px;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color:whitesmoke;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 14px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  font-family: var(--font);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: whitesmoke;
  padding-left: 8px;
}

.footer-col p{
  color: #bbbbbb;
  font-family: var(--font);
  font-size: 14px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  color: #bbbbbb;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: whitesmoke;
}


/* ---------- Perfumes fragrances Page List---------- */

.perfumes {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 450px;
  margin: auto;
  height: 450px;
  margin-top: 60px;
  cursor: pointer;
}

.perfumes:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* transform: scale(1.08); */
}

.container {
  padding: 2px 16px;
  height: 150px;
}

.perfumeList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap: 20px;
  margin: 15px;
}

.perfumeList h4{
  font-family: var(--font);
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.115385em;
}

.perfumeList p{
  font-family: var(--font);
  text-align: center;
}

.perfumes img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.perfumes span {
  color: black;
  position: relative;
  bottom: 98%;
  left: 92%;
}

#likeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
}


/* SiteMap */


.sitemapContainer {
  max-width: 1170px;
  margin: auto;
  height: 400px;
}

.sitemap-col ul {
  list-style: none;
}

.sitemap-row {
  display: flex;
  flex-wrap: nowrap;
}

.sitemap-col {
  width: 25%;
  padding: 0 15px;
}

.sitemap-col h4 {
  font-family: var(--font);
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.115385em;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 35px;
  position: relative;
}

.sitemap-col h4::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #FF0065;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.sitemap-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.sitemap-col ul li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  color: black;
  font-family: var(--font);
  display: block;
  transition: all 0.3s ease;
}

.sitemap-col ul li a:hover {
  color: #818078;
  padding-left: 8px;
}

.sitemap-col p{
  color: #535253;
  font-family: var(--font);
  font-size: 14px;
}


 /* faq page */

 .faqContainer {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  margin-bottom: 100px;
}

.faqContainer h2 {
  font-family: var(--font);
  text-transform: uppercase;
  text-align: center;
  
}

.faqContainer hr {
  border: 1px solid #FF0065;
  background-color: #FF0065;
  border-radius: 7px 7px 7px 7px;
  width: 8%;
}

.accordion {
  margin-top: 80px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #D2D2D2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #818078;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-family: var(--font);
  font-size: 16px;
}

.accordion button .material-icons-outlined {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 15px;
  font-weight: 300;
  margin: 2em 0;
  font-family: var(--font);
  line-height: 1.5;
}


/* About us */

.aboutPage {
  font-family: var(--font);
}

.aboutContainer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 6rem 6rem 6rem;
  font-family: var(--font);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0 6rem 0;
}

.page-title {
  margin-bottom: 8rem;
  font-family: var(--font);
  font-size: 48px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  line-height: 16rem;
  color: whitesmoke;
  
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__title {
  font-size: 16px;
  font-weight: 400;
  transform: rotate(-90deg);
  margin-top: 40px;
  color: whitesmoke;
}

.content__descriptor {
  width: 14%;
  border-top: 1px solid #818078;
  padding-top: 4rem;
}

.content__text-box{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    width: 50%;
    border-top: 1px solid #818078;
    border-bottom: 1px solid #818078;
    margin-right: 10rem;
    padding: 4rem 0;
    line-height: 1.5;
}


/* Map */
#map {
  height: 550px;
  width: 65%;
  margin-bottom: 100px;
}

#storeTables {
  position: absolute;
  left: 70%;
  top: 40%;
  height: 300px;
  width: 400px;
  overflow-y:auto;
}

#storeTables h3 {
  font-family: var(--font);
  text-align: center;
}

#storeTables hr {
  border: 1px solid #818078;
  background-color: #818078;
  border-radius: 7px 7px 7px 7px;
  width: 50%;
  margin-bottom: 40px;
}

#storeTables p {
  font-family: var(--font);
}

#storeTables div {
  margin-bottom: 60px;
  
}


/* Product Display Page */


.main-wrapper{
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper p {
  font-family: var(--font);
  line-height: 2.0;
}

#detailsIcon {
  position: absolute;
  left: 80%;
  bottom: 64%;
  color: black;
}

.detailsContainer{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
.product-div{
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 3px;
  column-gap: 10px;
}
.product-div-left{
  padding: 20px;
}
.product-div-right{
  padding: 20px;
  padding-top: 50px;
}
.img-container img{
  width: 200px;
  margin: 0 auto;
  margin-left: -75px;
  margin-top: 50px;
}

.product-div-right span{
  display: block;
}
.product-name{
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
  text-transform: uppercase;
  
}
.product-price{
  font-size: 18px;
  opacity: 0.9;
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
}
.detailsHr{
  border: 0.1px solid #ece7eb;
  background-color: #ece7eb;
  border-radius: 7px 7px 7px 7px;
  width: 81%;
  margin: 0;
}
.productSize {
  font-weight: 100;
  font-size: 13px;
  position: absolute;
  left: 75%;
  bottom: calc(42% - 15px);
}
#sizesIcon{
  position: absolute;
  left: 80%;
  bottom: calc(44% - 17px);
  font-size: 30px;
  cursor: pointer;
  font-weight: 100;
}

.product-description{
  font-weight: 18px;
  line-height: 2;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
  color: #808080;
  margin-bottom: 70px;
}
.btn-groups{
  margin-top: 22px;
}
.btn-groups button{
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-groups button .fas{
  margin-right: 8px;
}

.buy-now-btn{
  background-color: #19110b;
  border: 2px solid #000;
  width: 50%;
}
.buy-now-btn:hover{
  background-color: #fff;
  color: #000;
}

.productQtyDiv {
  margin-top: 40px;
}

.pQuantity{
  height: 30px;
  text-align: center;
  border: 1px solid #818078;
  position: absolute;
  left: 75%;
  bottom: calc(35% - 24px);
}

.pQuantity:focus {
  border: 1px solid #19110b;
}

.panel {
  min-height: 100%;
  position: fixed;
  background: #fff;
  width: 25%;
  right: -100%;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.6);
  display: none;
}

.panelSectionHr{
  border: 0.1px solid #EBE9E6;
  background-color: #EBE9E6;
  border-radius: 7px 7px 7px 7px;
  margin-top: -2px;
}

#selectedSize100{
  position: absolute;
  left: 80%;
  top: 25%;
}

#selectedSize200{
  position: absolute;
  left: 80%;
  top: calc(40% - 40px);
  display: none;
}

.panelHeader{
  font-size: 24px;
  padding-left: 25px;
  position: relative;
  top: -8px;
  text-transform: uppercase;
}

.panelSize{
  padding-left: 40px;
}

.closePanelHolder{
  height: 75px;
  width: 75px;
  transition: all 0.3s ease-out;
  position: relative;
  left: 80%;
  margin-top: -98px;
  cursor: pointer;
  border: 2px solid #EBE9E6
}

.closePanelHolder:hover{
  background-color: #EAE8E4;
}

#closePanelIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px){
  .product-div{
      grid-template-columns: 100%;
  }
  .product-div-right{
      text-align: center;
  }
  .product-rating{
      justify-content: center;
  }
  .product-description{
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
  }
}

@media screen and (max-width: 400px){
  .btn-groups button{
      width: 100%;
      margin-bottom: 10px;
  }
}


/* Shopping Cart */

.cartHeader{
  display: flex;
  justify-content: space-between;
}

.cartTitle{
  font-family: var(--font);
  font-weight: 500;
  font-size: 22px;
  margin: 50px 120px;
  margin-bottom: 10px;
}

.cartTable{
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: var(--font);
}

.cartProductDetails img{
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.cartProductDetails small {
  color: #FF0065;
  cursor: pointer;
}

.cartTable th{
  padding: 5px;
  text-align: center;
  color: #808080;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  
}

.cartTable td{
  padding: 20px 15px;
  text-align: center;
}

.cartTable .sub-total {
  padding-left: 8px;
}

.input-number{
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment{
  border: 1px solid #bbbbbb;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment{
  display: inline-block;
  width: 30px;
  height: 38px;
  line-height: 38px;
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active{
    background: #fff
}
.input-number-decrement{
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.input-number-increment{
  border-left: none;
  border-radius: 0 4px 4px 0;
}

#backIcon {
  cursor: pointer;
  color: #535253;
}

#Continuebrowsing {
  font-family: var(--font);
  font-size: 15px;
  cursor: pointer;
  color: #535253;
  vertical-align: middle;
}

.continueBrowsingContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
  margin-top: 30px;
  margin-left: 30px;
}

#goToCheckoutBtn {
  font-family: var(--font);
  text-decoration: none;
  font-size: 15px; 
  width: 15%;
  margin: 0 auto; 
  margin-top: 100px;
}
.cartGroups{
  margin-bottom: 100px;
  text-align: right;
  /* display: flex;
  justify-content: space-between; */
}




/* my account */

.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #DD2F6E;
  z-index: 100;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: whitesmoke;
}

.sidebar-menu span {
  display: inline-block;
  padding-right: 1rem;
  vertical-align: middle;
}

.sidebar-menu {
  margin-top: 7rem;
}

#dashboardQuote{
  margin-top: 40px;
  line-height: 2;
  font-size: 14px;
  letter-spacing: 1px;
}

#dashboardQuoter{
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 175px;
  margin-top: 8px;
}

.sidebar-menu li.active {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #DD2F6E;
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}

.main-content {
  margin-left: 345px;
}

.main-content header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
}

.main-content header h2 {
  color: #222;
  margin-top: 5px;
}

.main-content header label span {
  padding-right: 1rem;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.main-content main {
  margin-top: 72px;
  padding: 2rem 1.5rem;
  background: #f0f0f0;
  min-height: calc(100vh - 72px);
}

.detailCards{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 2px;
}


.user-info {
  margin-top: 120px;
}

.col-3{
  float: left; 
  width: 27.33%; 
  margin: 40px 3%; 
  position: relative;
}

.col-3 label {
  font-size: 15px;
}

.col-3 input {
  margin-top: 20px;
}

.user-info input[type="text"], #changeInfo input[type = "text"], #changePassword input[type = "text"]{
  font: 15px; 
  font-family: var(--font);
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
  background-color: #f0f0f0;
}

.effect-1{
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #DD2F6E;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s;
}

.tabcontent {
  color: black;
  display: none;
  padding: 0px 20px;
}

#changePassword button, #changeInfo button, #myAccountLogout button {
  font-family: var(--font);
  font-size: 15px;
  width: 20%;
  position: absolute;
  top: 80%;
  right: 5%;
}


/* My account Axia */

.axiaImg {
  padding-right: 15px;
  padding-left: 15px;
}

.AxiaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat {
  height: 575px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

::-webkit-input-placeholder { 
  color: .711 
}

#inputMessage { 
border: 0; 
padding: 15px; 
margin-left: auto;
border-radius: 50px; 
width: 1000px;
}

#inputMessage:focus{
  outline-color: #d2d2d2;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  width: 100%;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

#bot {
margin-right: auto;
}


.response {
display: flex;
align-items: center;
margin: 1%;
max-width: 50%;
word-wrap: break-word;
line-height: 1.5;
  
}

.user-response {
  margin-left: auto;
  margin-right: 10px;
}

.botImage{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}


/* checkout Page */

.checkoutContainer{
  font-family: var(--font);
}

.checkoutContainer hr{
  border: 1px solid #FF0065;
  background-color: #FF0065;
  border-radius: 7px 7px 7px 7px;
  width: 10%;
  margin-bottom: 20px;
}

.CheckoutHeading {
  font-family: var(--font);
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

.checkout, .order-summary {
  padding: 40px 100px;
}

.sectionCheckoutHeader {
  padding-left: 80px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 10px;
}


.payment-form .col-3 input{
  margin-top: 5px;
}

.payment-method input[type = "text"] {
  font: 15px; 
  font-family: var(--font);
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}

.payment-method input:focus {
  outline: none;
}

.item-flex {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
}

.order-summary {
  height: 620px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  
}

.summaryCartItems {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  width: 450px;
  margin-left: -49px;
}

.shoppingCartSummary {
  margin-left: -100px;
}

.itemSummary {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.itemSummary img{
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.itemSummary div {
  margin-top: 30px;
  margin-left: -30px;
}

.summaryItemName {
  font-size: 15px;
  max-width: 100px;
  word-wrap: break-word;
}

.cartSummaryPrice {
  margin-top: 45px;
  position: relative;
  left: 30px;
  font-size: 15px;
}

.summaryTotals{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 50px;
  
}

.summaryFinalTotal{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.selectDropdown select{
  appearance: none;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: white;
  background-image: none;
  cursor: pointer;
}

.selectDropdown {
  position: relative;
  display: flex;
  width: 21em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  font-size: 15px;
  margin-left: 20px;
}
/* Arrow */
.selectDropdown::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.selectDropdown:hover::after {
  color: #FF0065;
}


/* Search page */

.searchForm {
  margin-top: 50px;
  text-align: center;
}

.searchForm .input-group input {
  width: 600px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background-color: transparent;
  font-family: var(--font);
  font-size: 1.5em;
  color: #000;
  transition: 0.1s all ease-in-out;
}

.searchForm .input-group input:placeholder-shown {
  color: #8E8E8E;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.searchForm .input-group input:focus {
  border-bottom: 4px solid #000000;
}

.closeSearchBtn {
  position: absolute;
  right: 5.33333%;
  top: 1.4375rem;
  z-index: 1;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}

.suggestionsSearchContainer {
  text-align: left;
  font-family: var(--font);
  font-size: 14px;
  margin-left: 28%;
}

.suggestionsSearchTitle {
  font-size: 16px;
  text-decoration: underline;
  margin-left: 40px;
  margin-bottom: 35px;
}

.suggestionsSearch {
  list-style: none;
}

.suggestionsSearch li {
  margin: 15px 0;
  letter-spacing: 0.11em;
  font-weight: bold;
  text-transform: uppercase;
}

.suggestionsSearch li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Search Data */
.searchData {
  display: flex;
  text-align: center;
  margin: auto;
  width: 50%;
  height: 20%;
  font-family: var(--font);
  cursor: pointer;
}

.searchImage img{
  width: 150px;
  height: 150px;
}

.searchItemDetails{
  margin-top: 15px;
}

.searchItemDetails p {
  text-align: left;
}

.noResults {
  font-family: var(--font);
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
}